AGENT_COUNT=4
AGENT_TIMEOUT=900

AGENT_1_SIG=gemini-flash@cekh
AGENT_1_MODEL=google/gemini-3-flash
AGENT_2_SIG=mistral-large@cekh
AGENT_2_MODEL=mistral/mistral-large-latest
AGENT_3_SIG=glm47flash@cekh
AGENT_3_MODEL=zai/glm-4.7-flash
AGENT_4_SIG=nemotron@cekh
AGENT_4_MODEL=nvidia/nemotron-3-super-120b-a12b

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
